<!--The content below is only a placeholder and can be replaced.-->
<!-- <form [formGroup]="radioGroupForm"> -->
    <div class="btn-group" ngbRadioGroup name="radioBasic" formControlName="model">
      <label ngbButtonLabel class="btn-primary">
        <input ngbButton type="radio" [value]="1" uiSref="hello" uiSrefActive="active"> Left (pre-checked)
      </label>
      <label ngbButtonLabel class="btn-primary">
        <input ngbButton type="radio" value="middle" uiSref="about" uiSrefActive="active"> Middle
      </label>
      <label ngbButtonLabel class="btn-primary">
        <input ngbButton type="radio" [value]="false" uiSref="people" uiSrefActive="active"> Right
      </label>
    </div>

    <div class="row">
        <div class="col">
          <div ngbDropdown class="d-inline-block">
            <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Toggle dropdown</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button class="dropdown-item">Action - 1</button>
              <button class="dropdown-item">Another Action</button>
              <button class="dropdown-item">Something else is here</button>
            </div>
          </div>
        </div>
      
        <div class="col text-right">
          <div ngbDropdown placement="top-right" class="d-inline-block">
            <button class="btn btn-outline-primary" id="dropdownBasic2" ngbDropdownToggle>Toggle dropup</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic2">
              <button class="dropdown-item">Action - 1</button>
              <button class="dropdown-item">Another Action</button>
              <button class="dropdown-item">Something else is here</button>
            </div>
          </div>
        </div>
      </div>
  <!-- </form> -->
<!-- <div class="nav">
  <a uiSref="hello" uiSrefActive="active">Hello</a>
  <a uiSref="about" uiSrefActive="active">About</a>
  <a uiSref="people" uiSrefActive="active">People</a>
</div> -->



<ui-view></ui-view>

